*{
    margin:0;
    padding:0;
}

body{
    color:#666;
    padding:100px;
    font:12px/1.5 tahoma,Microsoft YaHei,arial,Hiragino Sans GB;
}

.searchList{
    display:inline-block;
    width:auto;
    position:relative;
    border:1px solid #ccc;
    padding-right:30px;
}
.searchList .cin-keyword{
    border:0;
    height:30px;
    line-height:30px;
    color:#666;
    padding:0 7px;
    width:320px;
}
.searchList .kuma-icon-search{
    position:absolute;
    right:0;
    top:4px;
    margin-right:10px;
    cursor:pointer;
}
.searchList .dropDownBox{
    min-width:100px;
    width:100%;
    border:1px solid #ccc;
    position:absolute;
    left:-1px;
    display:none;
}
.searchList .dropDownBox .filterBox{
    padding:10px;
}
.searchList .dropDownBox .cin-filter{
    border:1px solid #ccc;
    height:25px;
    line-height:25px;
    padding-left:7px;
    padding-right:7px;
    width:100%;
    box-sizing:border-box;
}
.searchList .dropDownBox ul{
    max-height:220px;
    overflow-y:auto;
    padding:7px 3px;
}
.searchList .dropDownBox li{
    list-style:none;
}
.searchList .dropDownBox li a{
    display:block;
    height:28px;
    line-height:28px;
    color:#666;
    text-decoration:none;
    padding-left:7px;
    padding-right:7px;
}
.searchList .dropDownBox li a:hover{
    background:#dedede;
}
.searchList .dropDownBox li .kw{
    color:orange;
}